@model Laitehallinta2.Tilat

@{
    ViewBag.Title = "Details";
}

<h2>Lisätietoa</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TilaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TilaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tarkennus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarkennus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TilaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
